*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    direction : rtl;
}

.container{
    display: none;
}

.item-link{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}

@media screen and (max-width : 800px) {
    #menu-img {
        display: inline-block;
    }
    #menu-img:hover + .container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        border-left: 2px solid #000;
        background-color: aliceblue;
        height: 100vh;
        width: 70vw;
    }
    
}

@media screen and (min-width : 801px) {
    #menu-img {
        display: none;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid gray;
        width: 100vw;
        height: 60px;

    }
    .menu{
        display: flex;
        justify-content: space-between;
        width: 30%;
    }
    #space{
        height: 60px;
    }
}