@font-face {
    font-family: iranyekan;
    src: url(./../fonts/IRYEKAN-.TTF);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: iranyekan;
}

.ads-box{
    background-color: #FC8D00;
    width: 100%;
    height: 50px;
    text-align: center;
}

.ads{
    width: 60%;
    height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 57%;
    height: 50px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.menu .logo{
    width: 100px;
    height: 26px;
}

.menu .item .item-link{
    color: gray;
    font-size: 0.6rem;
    font-weight: 500;
}

.container .profile{
    border-radius: 50%;
    width: 40px;
}