@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans+Arabic:wght@100..900&family=Vazirmatn:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Vazirmatn;
}

/* start nav menu */

nav{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: aliceblue;
    width: 100vw;
}

.container{
    height: 80px;
    width: 70%;
    display: flex;
    align-items: center;
}

.container .snapp-logo{
    margin-left: 20px;
}

.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.item-link{
    font-size: 1.1rem;
    font-weight: 500;
    color: #616675;
}

/* start navbar snapp products sub menu */

.snapp-menu{
    position: relative;
}

.box{
    display: none;
}

.box .sub-menu{
    /* background-color: #946464; */
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
    /* align-items: center; */
}

.snapp-menu:hover .box{
    /* margin-top: 10px; */
    height: 180px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 27px;
    right: -20px;
    box-shadow: 2px 3px 10px 1px rgba(97,97,97,0.25);
    border-radius: .75rem;
    background-color: #fff;
}

.sub-item-link {
    color: #616675;
    font-weight: 400;
    font-size: 1rem;
}

.sub-item-link:hover{
    color: #21AA58;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out ;
}

/* finish navbar snapp products sub menu */

/* finish nav menu */

/* start main */

.back-to-top{
    position: fixed;
    top: 90vh;
    left: 1vw;
    z-index: 1000;
    width: 50px;
}

#top{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(0, 136, 255);
    border: 1px solid gray;
    font-size: 20px;
    color: #000000;
}

/* finish main */